<!DOCTYPE html>

{% block content %}
<html>
    <head>
        <title>China is bae</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'webapp/css/fullpage.css' %}">
        <link rel="stylesheet" href="{% static 'webapp/css/styles.css' %}">
        <script type="text/javascript" src="{% static 'webapp/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'webapp/js/fullpage.js' %}"></script>
        <script type="text/javascript" src="{% static 'webapp/js/main.js' %}"></script>
    </head>
    
    <body>
        <div id="sidebar" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="javascript:void(0)" onclick="scroll(0)">Introduction</a>
            <a href="javascript:void(0)" onclick="scroll(1)">Reasoning</a>
            <a href="javascript:void(0)" onclick="scroll(2)">Reasoning cont.</a>
            <a href="javascript:void(0)" onclick="scroll(3)">Roles of Figures</a>
            <a href="javascript:void(0)" onclick="scroll(4)">Roles of Figures cont.</a>
            <a href="javascript:void(0)" onclick="scroll(5)">Opposition</a>
            <a href="javascript:void(0)" onclick="scroll(6)">Opposition cont.</a>
            <a href="javascript:void(0)" onclick="scroll(7)">Demonstration</a>
            <a href="javascript:void(0)" onclick="scroll(8)">Demonstration cont.</a>
            <a href="javascript:void(0)" onclick="scroll(9)">Impact</a>
            <a href="javascript:void(0)" onclick="scroll(10)">Impact cont.</a>
            <a href="javascript:void(0)" onclick="scroll(11)">Bibliography pt.1</a>
            <a href="javascript:void(0)" onclick="scroll(12)">Bibliography pt.2</a>
            <a href="javascript:void(0)" onclick="scroll(13)">Bibliography pt.3</a>
            
        </div>
        <div id="notside">
            <div id="header">
                <button onclick="openNav()">&#8801;</button>
            </div>
            <div id="main">
                <div id="topic" class="section active">
                    <h2>Nationalism Topic: China</h2>
                </div>
                <div id="gordon" class="section">
                    
                    <div id="text">
                        <h1>Reasoning for Nationalism (Gordon)</h1>
                        <p>
                            The Nationalist fervour emerged during the 20th century
                            because of the decline of the Qing Dynasty. Living conditions
                            in that region decreased. During the Ming Dynasty, it
                            was one of the richest in the world. But towards the
                            end of the Qing Dynasty, they did nothing the modernise
                            the region. The Emperor towards the end of the Qing,
                            Guangxu, was corrupt. As a result, the Qing Dynasty was
                            falling over.
                            <br><br>
                            One of the main factors was the wars the Qing fought in.
                            Hong Kong was taken over by the British, which resulted
                            in more corruption, and poverty increased. Because of
                            that, an organisation, called the God Worship Society,
                            tried to launch a war against the Qing, to overthrow them,
                            but due to power struggles, they failed, and the Qing
                            remained in power. But that didn’t mean complete security
                            for the Qing.
                            <br><br>
                            A war between the Qing Dynasty and Japan in 1895 resulted
                            in a crushing defeat for China, who had to relinquish
                            Taiwan Island and some parts of Manchuria (which although
                            remained a part of China but had massive Japanese influence).
                            Even worse, there was another battle, called the Boxer
                            Rebellion. With more foreign missionaries in China, the
                            “Boxers” did anti-foreigner clothing. At first, they fought
                            with the Qing, but when the Qing realised that they were
                            anti-Western, they allied with them. As a result, an
                            Eight-Nation alliance that had USA, Austria, Germany,
                            France, Russia, Italy, UK and Japan formed an army together,
                            and went to war with the Qing.  The allies stormed Beijing,
                            and overwhelmed the Qing.
                            <br><br>
                            In every war the Qing was involved in, it not only caused
                            great damage to the country, but it also exposed the
                            country’s power and resulted in more political unrest.
                            People were unhappy, and the Qing decided to come up with
                            a new plan, called “The Reform Movement of 1898”. This
                            was the direct result of the sino-japanese war. The reforms
                            included introduction to Western science, technology,
                            and culture. Of course, these rules alarmed some conservatives,
                            which resulted in a coup between the conservatives and
                            reformers. Eventually, the reform was cancelled, leaving
                            the country in greater chaos. 
                        </p>
                    </div>
                </div>
                <div class="section" id="gordon2">
                    <div id="text">
                        <h1>Reasoning for Nationalism (cont.)</h1>
                        <p>
                            These events meant that the Qing Dynasty was a weakened
                            country and was highly unprotected. Beijing was about to
                            edge closer to another war, and It became obvious that
                            they would not win against a major power. Because of
                            that, the people wanted change. In 1905, Sun Yat-sen,
                            family of a farmer, founded a new group, and named it
                            tongmenghui (Revolutionary League). He first formed it
                            by getting support with the Japanese, and used his revolutionary
                            ideas, which were the “Principle of Nationalism, Principle
                            of Democracy and Principle of People’s Livelihood”
                            (which will be explained later). At the time, he was
                            still overseas. In 1908, the Qing Dynasty worsened, with
                            Emperor Guangxu’s death, which meant that Pu Yi took over
                            at only the age of 2. He and his father had no political
                            skills, and did not know how to guide the country. As a
                            result, he was unable to lead the country, and the Qing
                            was in further turmoil. 
                            <br><br>
	                        The Xinhai Revolution was a direct result of the corruption
	                        within the Qing Dynasty. Sun Yat-Sen wanted a new country
	                        under a Chinese republic style. However, the revolution
	                        started in a very unusual way. In 1911, an agreement was
	                        signed to build a rail link in Sichuan, central china.
	                        When the Qing Dynasty took over of the railway construction
	                        ownership, they paid a small sum for the construction,
	                        but that was nowhere near the constructor’s demands,
	                        so that resulted in a protest by the general public.
	                        Although this was the start of the war between the
	                        government and the people, historians think that the
	                        real beginning of the revolution was when war broke out
	                        in Wuchang, in central China. This time, the Tongmenghui,
	                        Sun Yat Sen’s group, got involved, fighting with the Qing.
	                        Although the Tongmenghui was outnumbered, they got an
	                        impressive victory, although Sun Yat Sen was overseas
	                        and not available. The victory in Wuchang led to the
	                        outbreak of the fighting nationwide. At the end of 1911,
	                        14 out of the 23 provinces in China have their full support
	                        towards the Tongmenghui. Eventually, in 1912, Emperor
	                        Puyi, at only the age of 6, had to abdicate from his throne.
	                        Negotiations resulted between Qing delegates and the Tongmenghui,
	                        which included Sun-Yat Sen, who was back, and the Qing
	                        agreed to relinquish its power, and hand it over to sun
	                        Yat Sen, Formally forming the Republic of China.
                        </p>
                    </div>
                </div>
                <div class="section" id="sapling">
                    
                    <div id="text">
                        <h1>Roles of Figures (Ricky)</h1>
                        <p>
                            <h2>Sun Yat-Sen</h2>
                            Sun Yat Sen was the leader of the Chinese Nationalist Party
                            (Kuomintang) and is known as the father of modern China.
                            He also created the chinese ideology called the “Three Principles
                            of the People”, outlining the principles of nationalism,
                            democracy and socialism. He believed that the only way for
                            China to move forward in the early 1900s was to become a
                            republic and adopt the western ways. It was developed as
                            part of Sun Yat-Sen's philosophy to make China a free,
                            prosperous and powerful nation. After his failure to establish
                            a democracy in China following the 1911 republican revolution,
                            he created the Nationalist Party (also known as kuomintang).
                            Although he died in 1925, the Nationalist movement he helped
                            start was starting to gain momentum in mainland China. After
                            the Communist-Nationalist split in 1927 both the communist
                            leader, Mao Zedong and the succeeding nationalist leader,
                            Chiang Kai-shek claimed to be continuing the true spirit
                            of the ‘Three Principles of the People’ 
                            <br><br>
                            
                            <h2>Three Principles of the People</h2>
                            The three principles of the people was an political ideology
                            created by Sun Yat-Sen. He used these principles as a set
                            of beliefs to guide the newly formed Kuomintang forward.
                            After the communists and the nationalists formed an alliance
                            in 1922, Sun was pressured by the communists for more demands
                            of a more formal party ideology. Subsequently, he gave a
                            series of lectures throughout the country in which he sharpened
                            and defined his three principles. 
                            <br><br>
                            The first principle, nationalism, had earlier been meant
                            opposition to the Qing Dynasty and foreign imperialism.
                            Later, Sun had defined “nationalism” as self determination
                            for the Chinese people, as well as the minority groups living
                            in China at that point in time. Sun described it as reviving
                            China’s lost nationalism and using the strength of the country’s
                            population to fight against injustice.
                            <br><br>
                            The second principle, “rights of the people” often translated
                            as “democracy”, was explained by Sun as allowing the people
                            of China to control their own government. This could be
                            achieved through ideas such as elections and referendums.
                            <br><br>
                            The final principle, “people’s livelihood” often translated
                            as “socialism”, was the most vague of the three principles.
                            However, historians agree that Sun seemed to have an idea
                            of an equal amount of land ownership through a fair system
                            of taxes.  
                        </p>
                    </div>
                </div>
                <div id="ricky2" class="section">
                    <div id="text">
                        <h1>Roles of Figures (cont.)</h1>
                        <p>
                            <h2>Kuomintang</h2>
                            The Nationalist Party (Kuomintang, literally translated as
                            "National People’s Party") that governed mainland China from
                            1928 to 1949 and later Taiwan under Chiang Kai-shek after
                            the nationalist’s retreat from mainland China. The KMT was
                            focused mainly on strengthening Chinese identity, while
                            disposing of old traditions for the sake of modernising in
                            order to unify China under a republican government.
                            <br><br>
                            The party was formed in Beijing in late August 1912 with
                            the amalgamation of six nationalist groups, intended to
                            participate as a party in the newly formed National Assembly.
                            ith the Chinese government being dissolved by a coup in 1913.
                            This lead the leader, Sun Yat-Sen, to lead the party with
                            more authoritarian force. The nationalist party owed many
                            of its earlier successes to to the Soviet’s aid and advice
                            as well as collaborating with the Chinese Communists. 
                            <br><br>
    
                            <h2>Chiang Kai-Shek (Jiang Jieshi)</h2>
                            Chiang Kai-Shek was a Chinese military and political leader
                            who lead the Kuomintang for five decades and was head of state
                            of the Chinese Nationalist Government from 1928 to 1949.
                            He was the successor to Sun Yat-Sen who, along with Mao
                            Zedong, played a fundamental role in China’s history in
                            the twentieth century. His first task after joining the
                            Nationalists, backing Sun Yat-Sen was to create an army.
                            He was an enthusiastic patriot, aiming to unite his divided
                            country as well as stabilising and modernising it. Although
                            he failed in a number of ways, he left behind a prosperous
                            economy, allowing China to grow into an economic powerhouse.
                            Fearing that China would become a country ruled by foreign
                            power, Chiang helped establish the Kuomintang, which he aimed
                            at preparing a modern army to unite China and overthrow the
                            warlords.
                        </p>
                    </div>
                </div>
                <div id="hanyuan" class="section">
                    <div id="text">
                        <h1>Oppositions to Regime (Hanyuan)</h1>    
                        <p>
                        <h2>Qing Dynasty</h2>
                            The Qing Dynasty (1644 - 1912) was the ruling society
                            of China before the Kuomintang (KMT) came to power.
                            Because of their dynastic nature, one person had all
                            the power, and that power was selective - passed down
                            from generation to generation.
                            <br><br>
                            The KMT, or at least, its predecessor, the Tongmenghui
                            (Chinese Revolutionary Alliance, TMH), was formed in
                            the later years of Qing rule, in 1904. It was an underground
                            resistance movement, and was the fusion of many small
                            revolutionary groups – the leader of this alliance was
                            Sun Yat-sen, who later was the leader of the KMT.
                            <br><br>
                            The TMH was formed due to the members’ displeasure with
                            the imperial rule of the Dynasty, and wanted to reform
                            China into a modern nation. While initially the TMH wasn’t
                            popular, in 1911, just one year before the Qing Dynasty’s
                            end, the Wuchang Uprising arose.
                            <br><br>
                            The conflict was created because the Qing government
                            wanted to nationalise the railway system of China to
                            pay off debts created during the Boxer Rebellion (European
                            countries vs. Qing China, 1899-1901). The people were
                            extremely unhappy with this decision, and decided to
                            rebel, forming two conflicting sides – the Qing, and the
                            TMH. This would eventually lead up to the Xinhai Revolution.
                            <br><br>
                            The Xinhai revolution marked the real beginning of the
                            KMT, as a response to the declining state of the Qing
                            dynasty. This was kind of a follow-up to the Wuchang
                            Uprising, and ultimately resulted in multiple rebellions
                            from all over China. The end result is the abdication
                            of the “Final Emperor”, Puyi, in 1912.
                            <br><br>
                            After the fall of the Dynasty, there were still some
                            supporters of the Qing or dynastic rule that opposed
                            the Kuomintang party - however, they were usually small
                            in size and number, didn’t have much influence, and were
                            dispatched shortly. One notable example was the Empire of
                            China, created by Yuan Shikai (a founding member of the
                            Republic of China) in 1915. It was opposed by the revolutionaries
                            and the military alike, and resulted in mass rebellions
                            before it was quashed in 1916.
                        </p>
                    </div>
                </div>
                <div class="section" id="hanyuan2">
                    
                    <div id="text">
                    <h1>Oppositions to regime (cont.)</h1>
                    <p>
                        <h2>Communist Party</h2>
                        The Communist Party of China (CPC) was founded in 1921,
                        after various socialist and communist ideologies such as
                        Marxism and Leninism started to flourish in the minds of
                        various scholars at the time. The party developed alongside
                        he KMT without any conflict, under the rule of the then leader
                        of the KMT, Sun Yat-sen.
                        <br><br>
                        After Sun died, in March 1925, the role of leader was handed
                        ver to Chiang Kai-shek, who was rightist and was critical
                        towards the CPC. He attempted to marginalise the CPC’s power
                        ver the years, which culminated in the Wuhan government expelling
                        all communist members from the KMT. This, therefore, led to
                        the start of the Chinese Civil War.
                        <br><br>
                        The Chinese Civil War is often split into two parts: pre-Sino-Japanese
                        War and post-war. Before the Second Sino-Japanese War, the CPC
                        created the Red Army, which consisted of mutinous National
                        Revolutionary Army (NRA) soldiers from the KMT, and armed
                        peasants. The forces of Chiang and the CPC struggled in what
                        was known as the Ten-Year Conflict, before Japanese forces
                        invade China through Nanjing.
                        <br><br>
                        After 1945 (retreat of Japanese forces), tensions between
                        the two parties began to rise again. During the war between
                        China and Japan, the CPC had gained extra power – it now
                        had 1.2 million militia, one quarter of the Chinese landmass
                        and one third of China’s population under its control. Furthermore,
                        the Soviet Union transported all the conquered weapons from
                        the Japanese to the Red Army, which therefore tipped the scales
                        further in their favour. The US also intervened, sending around
                        150,000 troops to various areas.
                        <br><br>
                        In 1949, the conflict ended with the CPC winning, and erecting
                        their leader, Mao Zedong, as the leader of the People’s Republic
                        of China. This therefore caused the KMT to retreat to present-day
                        Taiwan.
                        <br><br>
                    </p>
                </div>
                </div>
                <div class="section" id="charles">
                    <div id="text">
                        <h1>Demonstration of Opposition (Charles)</h1>
                        <p>
                            Earlier discussed we know about how a 4000 imperial rule and
                            the qing dynasty ended, and after the brief period of no power
                            two parties formed, the communist and kuomintang. Banding together
                            and taking down the warlords as they both had common goals of
                            wanting to unify the chinese land. However soon after their rise
                            nationalist china chiang kai shek was met with the adversary of
                            Mao and his communist forces, and a power struggle soon started.
                            Both backed up by the soviet Union. Mao who was inspired by marxist
                            literature, led the lower class to rebel against against the
                            kuomintang. However did you know, before the civil war broke
                            out, the two forces had allied to remove the remaining warlords
                            that still inhabited the north. 
                            <br><br>
                            However the nationalist party would then betray the CCP (communist
                            party) when they launched an anti communist purge also known as
                            the shanghai massacre. It happened on April the 12th 1927 in the
                            city of shanghai where mass violent suppression was carried out
                            along with other neighbouring cities, where the communist belief
                            was suppressed. Executing many of the communist leaders. This
                            effectively terminated the contract between Soviet Russia and
                            the KMT and would soon result in several results which would
                            set the stage for the civil war. 
                            <br><br>
                            However the Communists replied to this brutality, the Autumn
                            Harvest uprising. An uprising staged by peasants in the hunan
                            province it was an attempt to take back the cities of mid china
                            coast. However long story short, the raid was unsuccessful.
                            <br><br>
                            The communists proceeded to retreat south where for 7 years
                            they recovered, before they were surrounded again. Upon this
                            notice Mao led his followers on an expedition spanning around
                            6000 miles known as the long march. In order to establish a base
                            in the areas of northwestern china. 
                            <br><br>
                        </p>
                    </div>
                </div>
                <div id="charles2" class="section">
                    <div id="text">
                        <h1>Demonstration of Opposition (cont.)</h1>
                        <p>
                            That’s the short version the long story is that the communists
                            were able to break and pass the nationalist borders and defence
                            from the cornered south China. The trek took just under a year,
                            they had to take their time, only travelling during the night,
                            primary resources back then said that there were long column of
                            torches snaking through mountains at night. The journey was very
                            bitter as daily aerial bombing, lack of resources and frequent
                            skirmishes it is estimated of the 85 000 troops who set out on
                            the journey only 8 000 came out alive. 
                            <br><br>
                            After establishing a base in Shanxi, Mao’s reputation was increased,
                            as such many people flocked to join the red army hearing of the
                            communists leader bravery and his endeavors. 
                            <br><br>
                            However there was a ceasefire after world war 2 broke out as
                            earlier mentioned the two parties banded together to fight off
                            the invading japanese. After the end of the war tensions snapped
                            and the civil war continued. However this time they had brought
                            allies, as the Kuomintang had the U.S on their side, as the nationalist
                            china in the western world was recognized as the official party
                            of china. While the soviet possibly disgusted with the Kuomintang
                            betrayal in the shanghai massacre and having the same communist
                            views as the CPC obviously took the side of the CPC.
                            However eventually the communist party started taking over nationalist
                            cities, and after claiming beijing it was official that CPC had
                            won the war. Retreating to thailand the nationalist party established
                            their own government. And even to this day their is a bitter rivalry
                            and then back then quite a few skirmishes. 
                            <br><br>
                            One might ask how the war was won, the U.S.A and the Soviet
                            Union both had different ways of dealing with the war. Rather
                            than supporting so much the U.S tried to stop the war and ensure
                            no winner or possibly their interests just lied in making the CPC
                            surrender. While Soviet Union was more assertive and supplied
                            the CPC with weapons and probably more reinforcements.
                        </p>
                    </div>
                </div>
                <div id="craig" class="section">
                    <div id="text">
                        <h1>Impact of Nationalism (Craig)</h1>
                        <p>
                            The earliest form of nationalism (proto-nationalism) in China
                            took the form of the Boxer Rebellion in which the Chinese banded
                            together in order to protect their country from imperialist takeover/expansion
                            and Christian missionary which naturally came with the imperialist movements.
                            While the Chinese were successfully suppressed due to their underwhelming power,
                            good came with the movement too, as China’s relationship with the United States improved.
                            With the loss of the Boxer Rebellion, the last Chinese dynasty ended 
                            and an open door policy was initiated which lead to the Chinese Republic. 
                            <br><br>
                            Early Chinese nationalism resulted in an open country,
                            increased tolerance of foreigners and loosened tension between countries.
                            Furthermore, the Boxer Protocol was formed to keep the peace between China and the Eight-Nation Alliance,
                            soon after this, the last dynasty ended. Nationalism in China had essentially formed the republic of China,
                            disallowing any countries from colonising or imperialising China. Another positive outcome was the U.S
                            funded the Boxer Rebellion Indemnity Scholarship Program which allowed for Chinese students to study in the U.S,
                            this spread the Chinese population into the U.S and pushed forward Chinese modernisation.
                            <br><br>
                            According to historians, one of the earliest forms of nationalism was ethical nationalism,
                            formed in the twentieth century. It advocates to create a nation dominated by one race.
                            An early example of this can be seen in China, when the Han race majority rose against the
                            minority Manchu in the Qing dynasty in 1911. They attempted to create a state dominated by a Han majority.
                            Since then, this form of nationalism has gave way to many other forms of nationalism around the world.
                            To this day, ethical nationalism is still practised in Tibet and Inner Mongolia,
                            groups that were never able to create their own ethical states. 
                            <br><br>
    
                        </p>
                    </div>
                </div>
                <div class="section" id="craig2s">
                    <div id="text">
                        <h1>Impact on Nationalism (cont.)</h1>
                        <p>
                             Due to the prior events of the Boxer Rebellion, China was on the of the 27 allied forces in World War I.
                            Their motivation for joining the war was to strengthen their weak status and influence on the world through
                            the obtention of an invitation to the post-war Peace Conference, in which forced China to declare war on Germany.
                            Due to China’s weak military because of the recent abolishment of the Qing dynasty,
                            China contributed to the war by sending around 140,000 labourers and workers (called the Chinese Labour Corps)
                            to Europe in order to repair war-torn Europe, dig trenches, repairing tanks, assembled artillery shells and transported weaponry.
                            Despite the seemingly unremarkable contribution of “sending workers”, they were the largest and longest serving non-European labour group
                            in the war and made a huge impact on the war.  
                            <br><br>
                            Leading up to World War II (starting in 1939), China and Japan fought the Second Sino-Chinese War
                            . Japan’s imperialist policy lead them to invade China after the tension between the two countries
                            was at its limit partly due to the Marco Polo Bridge Incident. During this time, Japan had won Shanghai,
                            the Chinese capital of Nanjing (which forced China to relocate their central government) and Wuhan.
                            China was not expected to be able to withstand the relentless attack from Japan, however,
                            due to Kuomintang nationalist influence and their leader: Chiang Kai-shek,
                            China simply refused to surrender to the Japanese. In their refusal to admit defeat,
                            china proceeded to win the battles in Changsha and Guangxi and hence destroying
                            the Japaneses means of communication to deeper parts of China.
                            This ultimately led to a stalemate and without the nationalism introduced
                            in China it was likely that the Chinese would have surrendered which may have lead to Japanese control of China.
                            Furthermore, Japan could have continued to conquer the USSR, British India and other asian countries,
                            possibly leading to world domination. 
                            <br><br>
                            Unfortunately, both of China’s efforts in WWI and WWII were largely overlooked, due to the bad look that the Chinese communist party gave to Kuomintang. In summary, 
                            nationalism in China had major effects on the world, such as the overlooked chinese labourers in WWI, prevention of possible world domination from the Japanese in WWII. Without nationalism in China, China would be nothing like it is today with China being the manufacturing hub and one of the largest contributors of science and electronics due to the fact that Kuomintang brought modernisation into the country.. The effect of nationalism was very, very strong in China and the rest of the world. 
                        </p>
                    </div>
                </div>
                <div id="bibliography" class="section">
                    <div id="text">
                        <h1> Bibliography </h1>
                        <p>
                            <h2> Craig </h2>
                            "Making Sense Of The War (China) | International Encyclopedia Of The First World War (WW1)". Encyclopedia.1914-1918-online.net. N.p., 2017. Web. 14 Mar. 2017. http://encyclopedia.1914-1918-online.net/article/making_sense_of_the_war_china
                            <br> <br>
                            "The Forgotten Army Of The First World War: How Chinese Labourers Helped Shape Europe". South China Morning Post. N.p., 2017. Web. 14 Mar. 2017. http://multimedia.scmp.com/ww1-china/
                             <br> <br>
                            "The Effects Of The Boxer Rebellion On US-Asian Relations - The Chamberlin Chronicle". Sites.google.com. N.p., 2017. Web. 15 Mar. 2017. https://sites.google.com/site/thechamberlinchronicle/ha
                             <br> <br>
                            "Chinese Nationalism And Its Foreign Policy Implications | US-China Institute". China.usc.edu. N.p., 2017. Web. 15 Mar. 2017. http://china.usc.edu/chinese-nationalism-and-its-foreign-policy-implications
                             <br> <br>
                            "History Of The Republic Of China". En.wikipedia.org. N.p., 2017. Web. 17 Mar. 2017. https://en.wikipedia.org/wiki/History_of_the_Republic_of_China
                             <br> <br> <br>
                        </p>
                    </div>
                </div>
                
                <div id="bibliography2" class="section">
                    <div id="text">
                        <h1> Bibliography </h1>
                        <p>
                            <h2> Ricky </h2>
                            颜培,. "The Chinese Dream And The Path Of Modernization For China- China.Org.Cn". China.org.cn. N.p., 2017. Web. 11 Mar. 2017. http://www.china.org.cn/china/Chinese_dream_dialogue/2013-12/06/content_30819412.htm
                            <br> <br>
                            "Kuomintang (Chinese Nationalist Party) Summary & Facts". Totallyhistory.com. N.p., 2017. Web. 14 Mar. 2017. http://totallyhistory.com/kuomintang/
                            <br> <br>
                            "The Man Who Lost China". The Economist. N.p., 2017. Web. 14 Mar. 2017. http://www.economist.com/node/13606318
                            <br> <br>
                            "Long March - Facts & Summary - HISTORY.Com". HISTORY.com. N.p., 2017. Web. 16 Mar. 2017. http://www.history.com/topics/long-marc
                            <br> <br> <br>
                            <h2> Hanyuan </h2>
                            "Milestones: 1899–1913 - Office Of The Historian". History.state.gov. N.p., 2017. Web. 16 Mar. 2017. https://history.state.gov/milestones/1899-1913/chinese-rev
                            <br> <br>
                            "Chiang Kai-Shek - Facts & Summary - HISTORY.Com". HISTORY.com. N.p., 2017. Web. 17 Mar. 2017. http://www.history.com/topics/chiang-kai-shek
                            <br> <br>
                            "Xinhai Revolution". En.wikipedia.org. N.p., 2017. Web. 12 Mar. 2017.
                            <br> <br>
                            "Qing Dynasty". En.wikipedia.org. N.p., 2017. Web. 23 Mar. 2017.
                            <br><br><br>
                        </p>
                    </div>
                </div>
                <div id="bibliography3" class="section">
                    <div id="text">
                        <h1> Bibliography </h1>
                        <p>
                            <h2> Gordon </h2>
                            "The 1911 Xinhai Revolution". Chinese Revolution. N.p., 2017. Web. 12 Mar. 2017. http://alphahistory.com/chineserevolution/xinhai-1911-revolution/
                            <br> <br>
                            "Milestones: 1899–1913 - Office Of The Historian". History.state.gov. N.p., 2017. Web. 12 Mar. 2017. https://history.state.gov/milestones/1899-1913/chinese-rev
                            <br> <br>
                            "Wuchang Uprising". En.wikipedia.org. N.p., 2017. Web. 17 Mar. 2017. https://en.wikipedia.org/wiki/Wuchang_Uprising
                            <br> <br>
                            "Chinese Revolution | 1911-1912". Encyclopedia Britannica. N.p., 2017. Web. 18 Mar. 2017. https://www.britannica.com/event/Chinese-Revolution-1911-1912
                            <br> <br>
                            "Xinhai Revolution". En.wikipedia.org. N.p., 2017. Web. 18 Mar. 2017. https://en.wikipedia.org/wiki/Xinhai_Revolution
                            <br> <br>
                            Li, Hua. Common Knowledge About Chinese History. 1st ed. Beijing: Foreign Languages Press, 2008. Print. Pg 152-166
                            <br> <br><br> 
                            <h2> Charles </h2>
                            Bbc.co.uk. (2017). BBC - History - Mao Zedong. [online] Available at: http://www.bbc.co.uk/history/historic_figures/mao_zedong.shtml [Accessed 23 Mar. 2017].
                            <br><br>
                            Chinese Revolution. (2017). The Chinese Civil War. [online] Available at: http://alphahistory.com/chineserevolution/chinese-civil-war/ [Accessed 23 Mar. 2017].
                            <br><br>
                            Ducksters.com. (2017). The Cold War for Kids: Chinese Civil War. [online] Available at: http://www.ducksters.com/history/cold_war/chinese_civil_war.php [Accessed 20 Mar. 2017].
                            <br><br>
                            History.state.gov. (2017). Milestones: 1945–1952 - Office of the Historian. [online] Available at: https://history.state.gov/milestones/1945-1952/chinese-rev [Accessed 20 Mar. 2017].
                            <br><br>
                            Onwar.com. (2017). Mao China Autumn Harvest Uprising 1927. [online] Available at: https://www.onwar.com/aced/chrono/c1900s/yr20/fchina1927aut.htm [Accessed 23 Mar. 2017].
                            <br><br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script>
            $(document).ready(function() {
                $("#main").fullpage({
                    scrollingSpeed: 1500,
                    paddingTop: "70px",
                    verticalCentered: false,
                    onLeave: function(index, next, dir) {
                        
                    }
                });
            });
        </script>
    </body>
</html>
{% endblock %}
